<% provide(:title, 'Track Practice') %>
        <div class="bg">
</div>
<div class="container scontainer">
<!--        start-->
        <div class="row">
		<div class="btn-group btn-group-justified">
            <div class="btn-group">
                <div class="btn btnn">
                    <p class="glypher" id="test1">0</p>
    			    <p>FTA</p>
                </div>
            </div>
            <div class="btn-group">
                <div class="btn btnn">
                    <p class="glypher" id="test2">0</p>
    			    <p>FT%</p>
                </div>
            </div>
            <div class="btn-group">
                <div class="btn btnn">
                    <p class="glypher" id="test3">0</p>
    			    <p>FGA</p>
                </div>
            </div>
            <div class="btn-group">
                <div class="btn btnn">
                    <p class="glypher" id="test4">0</p>
    			    <p>FG%</p>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button id="button1" type="button" class="btn toggler1">
    			    <p class="nopad">Free Throws</p>
                </button>
            </div>
            <div class="btn-group">
                <button id="button2" type="button" class="btn toggler2">
    			    <p class="nopad">Jump Shots</p>
                </button>
            </div>
        </div>
        </div>
                <div class="row">
            <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button id="button3" type="button" class="btn btn-nav btn-prac">
<!--                    <span class="glyphicon glyphicon-leaf"></span>-->
                    <i id="icon1"></i>
    			    <p>Make</p>
                </button>
            </div>
            <div class="btn-group">
                <button id="button4" type="button" class="btn btn-nav btn-prac">
<!--                    <span class="glyphicon glyphicon-time"></span>-->
                    <i id="icon2"></i>
    			    <p>Miss</p>
                </button>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="btn-group btn-group-justified">
            <div class="btn-group">
<!--
                <button id="button5" type="button" class="btn btnsave">
                    <i id="icon3"></i>
    			    <p>Save Todays Stats</p>
                </button>
-->
                <%= render 'shared/practice_form' %>
            </div>
        </div>
        </div>

    </div><!-- /.container -->

