<% provide(:title, "Contact") %> 
<div class="background-pic7">
</div>
<div class="container fitme">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 contact">
            <h1>About Me</h1>
            <p>I plan to continually update the app to make it better.  Any feedback that you could think of would be of amazing help. Lets build this app together!</p>
        </div>
  
        <div class="col-md-8 col-md-offset-2 contact1">
          <h1>Contact</h1>
                <i class="fa fa-envelope fa-inverse fa-5x"></i>
            <br>
          <a href="myhoopstats@gmail.com">myhoopstats@gmail.com</a>
        </div>
        <div class="col-md-12 ">
        <footer class="footer">
  <small>
    <%= link_to "MyHoopStats", root_url %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Terms of Service",  terms_path %></li>
      <li><%= link_to "Cookie Policy",   cookie_path %></li>
      <li><%= link_to "Privacy Policy", privacy_path %></li>
    </ul>
  </nav>
</footer>
        </div>
    </div>
</div>

