<div class="background-pic">
</div>    
<!-- Main jumbotron -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>MyHoopStats</h1>
                <hr>

 
                <p>Shot Tracker is the best way to improve your jumpshot and free throw percentage.  Put in the hard work and track your progress, easily and effectively</p>
            <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-xl page-scroll" %>
      
            </div>
        </div>
    </header>
<div class="fullheight">
    <div class="container ycontainer">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4 hcol-md-4">
          <h2>Track Stats</h2>
            <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
            </span>
          <p>Use shot tracker to track your stats overtime, during games or practice. Set goals, track your progress and view your progress in a great user friendly interface.</p>
        </div>
        <div class="col-md-4 hcol-md-4">
          <h2>Voice Activated</h2>
            <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
            </span>    
          <p>Use shot tracker to track your makes and misses with a simple voice command.</p>
       </div>
        <div class="col-md-4 hcol-md-4">
          <h2>Web based Mobile App</h2>
            <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-mobile fa-stack-1x fa-inverse fa-1x"></i>
            </span>
          <p>Shot tracker is a web based application that has a repsonsive mobile site. There is no app to download. Simply access Shot Tracker on your phones web browser and track whether you are at the gym or the park.</p>
        </div>
      </div>
</div> <!-- /container -->
      
 <div class="container xcontainer">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <h2>Contact Us</h2>
            <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
            </span><br>
          <a href="shotracker@gmail.com">shotracker@gmail.com</a>

        </div>
      </div>
</div> <!-- /container --> 
</div>