<div class="background-pic">
</div>    
<!-- Main jumbotron -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>MyHoopStats</h1>
                <hr>
                <p>Tracking your hard work is a scientifically proven and highly effective way to improve your shooting percentage. MyHoopStats is the best way to track and improve your free throw and field goal percentage. MyHoopStats is a voice activated web application that will track your stats whether at the gym or at the park.</p>
                <% if logged_in? %>
                <% else %>
            <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-xl page-scroll btns" %>
                <% end %>
      
            </div>
        </div>
    </header>
<div class="fullheight">
    <div class="container ycontainer">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4 hcol-md-4">
          <h2>Track Stats</h2>
            <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
            </span>
          <p>Use MyHoopStats to track your free throw and field goal percentage as well as set goals and view your progress over time in a great user friendly interface.</p>
        </div>
        <div class="col-md-4 hcol-md-4">
          <h2>Voice Activated</h2>
            <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
            </span>    
          <p>For Android users, use simple voice commands to track your makes and misses when shooting alone or have a friend log them for you.</p>
       </div>
        <div class="col-md-4 hcol-md-4">
          <h2>Web based Mobile App</h2>
            <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-mobile fa-stack-1x fa-inverse fa-1x"></i>
            </span>
          <p>MyHoopStats is a web based application that has a repsonsive mobile site. Simply access MyHoopStats on your phones web browser and track whether you are at the gym or the park.</p>
        </div>
      </div>
</div> <!-- /container -->
      
 <div class="container xcontainer">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <h2>Contact Us</h2>
            <span class="fa-stack fa-4x">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
            </span><br>
          <a href="shotracker@gmail.com">myhoopstats@gmail.com</a>

        </div>
      </div>
</div> <!-- /container --> 
</div>
