.bg {
	background-color:#222222;
  /* Set rules to fill background */
  min-height: 150%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  /* Set up positioning */
  position: fixed; 
}

.scontainer {
    width:100%;
    margin-top:0px; 
}

/*PRACTICE BUTTONS*/
.btn-prac {
    background-color:lightgrey;
    border: 1px solid #e0e1db;
    border-radius:0;
    height:300px;
}

.btn-prac:focus {
    outline: none;
}

/*REFACTOR*/
.col-xs-3 {
	background-color:white;
	border: 1px solid #e0e1db;
}

.col-xs-3 p {
	color:#1a1a1a;
	text-align:center;
}

.col-xs-3 p:first-child {
	font-size:20px;
	padding-top: 12px;
	padding-bottom:0px;
}

.col-xs-3 p:nth-child(2)  {
	font-size:13px;
	padding-top:-10px;
	padding-bottom: 4px;
}

.btn-group label {
	height:70px;
	font-size:20px;
	background-color:lightgrey;
	border:none;
	color:#1a1a1a;
	border-radius: 0px;
}

.btn-group .active,
.btn-group label:active,
.btn-group label:hover {
	border-top: 6px solid #f05f40;
	background-color:grey;
	color:white;
}

/*REFACTOR CSS END*/

.btnsave {
    background-color:lightgrey; 
    border-radius:0;
		height:70px;
}

#icon1, #icon2 {
    margin-bottom:11px;
}

.btn-prac, .btnsave {
    font-weight: 500;
}

/*WEBSITE VERSION*/
@media (min-width: 700px) {
    .scontainer { 
			width:40em;
    	margin-top:50px;
    }
}


